<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{graphics.graphic1.leyend}}</h4>
                <app-doughnut-graph [doughnutChartLabels]="graphics.graphic1.labels" [doughnutChartData]="graphics.graphic1.data" [doughnutChartType]="graphics.graphic1.type"></app-doughnut-graph>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{graphics.graphic2.leyend}}</h4>
                <app-doughnut-graph [doughnutChartLabels]="graphics.graphic2.labels" [doughnutChartData]="graphics.graphic2.data" [doughnutChartType]="graphics.graphic2.type"></app-doughnut-graph>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{graphics.graphic3.leyend}}</h4>
                <app-doughnut-graph [doughnutChartLabels]="graphics.graphic3.labels" [doughnutChartData]="graphics.graphic3.data" [doughnutChartType]="graphics.graphic3.type"></app-doughnut-graph>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{graphics.graphic4.leyend}}</h4>
                <app-doughnut-graph [doughnutChartLabels]="graphics.graphic4.labels" [doughnutChartData]="graphics.graphic4.data" [doughnutChartType]="graphics.graphic4.type"></app-doughnut-graph>

            </div>
        </div>
    </div>
</div>