<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text" class="form-control" placeholder="search user">

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn justify-content-center" *ngIf="loading">
    <div class="col-3">
        <div class="alert alert-info text-center">
            <strong>Loading</strong>
            <hr/>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <hr/>
            <span>Please, wait</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Registered users ( <small>{{totalRecords}}</small> )</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Auth</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usr of users">
                            <td>
                                <div class="u-img">
                                    <img [src]="usr.img | image" alt="user" class="w70" />
                                </div>
                            </td>
                            <td>{{usr.email}}</td>
                            <td>{{usr.name}}</td>
                            <td>{{usr.role}}</td>
                            <td>

                                <label class="label label-danger" *ngIf="usr.google">Google</label>
                                <label class="label label-info" *ngIf="!usr.google">Normal</label>

                            </td>
                            <td>
                                <button class="btn btn-primary mx-3">
                                    <i class="fa fa-save"></i>
                                </button>
                                <button class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button class="btn btn-secondary mx-3" (click)="changeFrom(-5)">
                    Last
                </button>
                <button class="btn btn-secondary" (click)="changeFrom(5)">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>